<%- include ../partials/html-header %>
<% include ../partials/errors %>
<div class="login-form">
   <div class="login-body">
      <a class="login-close-btn" href="/">&times;</a>
      <h4 class="login-title">LOGIN</h4>
      <!-- Form -->
      <form class="form-login" action="/login" method="POST">

         <div class="field-wrapper">
            <input type="email" id="email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
            <div class="field-placeholder"><span>Enter your email</span></div>
         </div>

         <div class="field-wrapper">
            <input type="password" id="password" name="password"
               value="<%= typeof password != 'undefined' ? password : '' %>">
            <div class="field-placeholder"><span>Enter your password</span></div>
         </div>

         <a href="/login/forgot">Forgot Password?</a><br><br>
         <button type="submit">Log in</button>


         <!-- Sign in with facebook or google -->
         <hr class="hr-text" data-content="or">
         <h6>Sign in with</h6><br>
         <a href="/login/google" class="btn fa fa-google"></a>
         <a href="/login/facebook" class="btn fa fa-facebook"></a><br><br>

         <p class="small">Need an Account?</p>
         <a class="register-btn" href="/register">Register</a>         

         <!-- log in accounts premade -->
         <hr class="hr-text" data-content="Premade Test Accounts">
         <hr class="hr-text" data-content="EMAIL: admin@test.com  |  PASSWORD: 123456">
         <hr class="hr-text" data-content="EMAIL: email: seller@test.com  |  PASSWORD: 123456">
         <hr class="hr-text" data-content="EMAIL: email: shopper@test.com  |  PASSWORD: 123456">
      </form>
   </div>
</div>
<%- include ../partials/html-footer %>