<!DOCTYPE html>
<html lang="en">

<head>

   <!-- Meta tags -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Styling links -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
   <!-- Font awesome Script -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <!-- Local Scripts -->
   <link rel="stylesheet" href="/public/css/login-register-buttons.css" type="text/css">
   <link rel="stylesheet" href="/public/css/login-register-form.css" type="text/css">
   <link rel="stylesheet" href="/public/css/login-register-card.css" type="text/css">
   <link rel="stylesheet" href="/public/css/products.css" type="text/css">

   <title>Smart Devices</title>

</head>

<body class="ml-2 mr-2">