<!DOCTYPE html>
<html lang="en">
   <head>

      <!-- Meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <!-- Styling links -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- Font awesome Script -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Local Styles -->
      <link rel="stylesheet" href="/public/css/main.css" type="text/css">
      <link rel="stylesheet" href="/public/css/star-rating.css" type="text/css">
      

      <!-- Chart.js script -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>

      <title>IoT eShop</title>

   </head>
<body>
   <%- include ./nav-login-register %>
   <div class="container"></div>