<!-- Account Type Settings -->

<div class="account-settings">
   <hr class="hr-text" data-content="Account Settings">

   <form action="/users/edit/<%= user.id %>?_method=PATCH" method="POST">
      <input type="hidden" name="_method" value="PATCH" />
      <% if(loggedinUser.userType === 2) { %>

         <% if(user.userType === 0) { %>
         <i class="fa fa-check">BASIC Account</i>
         <% } else if(user.userType === 1) { %>
         <i class="fa fa-bitcoin">Seller Account</i>
         <% } else { %>
         <i class="fa fa-certificate">Admin Account</i>
         <% } %>
         <div class="field-wrapper">
            <select name="userType" size="0">
               <option value="0">Change to Basic Account</option>
               <option value="1">Change to Seller Account</option>
               <option value="2">Change to Admin Account</option>
            </select>
         </div>

         <% if(user.firstName === 'shopper'||user.firstName ==='admin'||user.firstName ==='seller') { %>
         <p>Cannot Change, <br>protected account</p>
         <% } else { %>

         <button type="submit">Save
            Settings</button>

         <% } %>

      <% } %>
   </form>
</div>