<div class="account-settings">
   <hr class="hr-text" data-content="Account Settings">

   <form action="/users/edit/<%= user.id %>?_method=PATCH" method="POST">
      <input type="hidden" name="_method" value="PATCH" />

      <!-- Manually Register -->
      <div class="field-wrapper">
         <input type="name" id="name" name="firstName" value="<%= typeof firstName != 'undefined' ? firstName : '' %>">      
         <div class="field-placeholder"><span> First Name</span></div>
      </div>

      <div class="field-wrapper">
         <input type="name" id="name" name="lastName" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">      
         <div class="field-placeholder"><span> Last Name</span></div>
      </div>      

      <button type="submit">Save
         Settings</button>

   </form>
</div>










            
