<!-- Temporary page -->
<% include ./partials/html-header %>
<%- include ./nav-bar-temp %>

<div class="container">
   
   <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
         <a href="/users/logout" class="btn btn-secondary mt-5">Logout</a>

<h1 class="mt-4">Dashboard</h1>



<h3>Users in MongoDB database:</h3>

<ul>
   <% users.forEach(function(user){ %>
      <p><%- user.name %></p>
   <% }); %>
</ul>


</div>
</div>
</div>
<%- include ./partials/html-footer %>
