<div class="get-item-nav">
   <a class="get-item-home-link" href="/"><span class="fa fa-home fa-3x"></span><br>Shop</a>
   <a href="/users"><span class="fa fa-tachometer fa-2x"></span><br>Dashboard</a>
   <a href="/users/admins/all"> <span class="fa fa-users fa-2x"></span><br> Users</a>
   <a href="/users/admins/products"><span class="fa fa-product-hunt fa-2x"></span> <br>Products</a>
   <a href="#"><span class="fa fa-shopping-cart fa-2x"></span><br>Orders</a>
</div>
<% include ../../partials/errors %>

