<nav class="navbar navbar-expand-md bg-dark navbar-dark col-md-2 d-md-block" id="side-nav" style="min-height: 2000px;">
   <a class="navbar-brand text-muted" href="/users">DASHBOARD</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse mt-5" id="collapsibleNavbar">
      <ul class="navbar-nav flex-column">
         <li class="nav-item">
            <a class="nav-link" href="/users">
               <span class="fa fa-home fa-lg text-primary"></span> Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/admins/all">
               <span class="fa fa-users text-primary"></span> Users</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/admins/products">
               <span class="fa fa-product-hunt text-primary"></span> Products</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa "></span>
               Orders
            </a>
         </li>         
      </ul>
   </div>
</nav>