<nav class="navbar navbar-expand-lg bg-dark navbar-dark col-md-2 d-md-block" id="side-nav">
   <a class="navbar-brand text-muted" href="/dashboards">DASHBOARD</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav flex-column">
         <br>
         <hr class="hr-text small" data-content="Main Settings">
         <li class="nav-item">
            <a class="nav-link" href="/dashboards/admin/customers">
               <span class="fa fa-users"></span>
               Customers
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa "></span>
               Products
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa "></span>
               Orders
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa "></span>
               Reports
            </a>
         </li>
         <hr class="hr-text small" data-content="Other Settings">
         <li class="nav-item">
            <a class="nav-link" href="#">
               <span class="fa "></span>
               Link
            </a>
         </li>
      </ul>
   </div>

</nav>