<%- include ../partials/html-header %>

<div class="my-items">
   <div class="latest">
      <% items.forEach(function(item){ %>
      <% if(user != undefined){ %>

      <%- include ../shop/components/item %>

      <% } %>
      <% }); %>
   </div>
</div>

<%- include ../partials/html-footer %>