<!-- Hidden Errors div -->

<nav class="navbar navbar-expand navbar-light pb-0" style="background: white;">

   <!-- Brand and btn for sm screens -->
   <a class="navbar-brand mr-auto" href="/">
      <img src="/public/img/logo.PNG" width="70" height="45" alt="">
   </a>

   <div class="text-center" id="navbarNavDropdown">
      <ul class="navbar-nav">

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="/">Home</a>
               <hr class="hr-text p-0 m-0">
               <a class="dropdown-item" href="/items">Item</a>
               <hr class="hr-text p-0 m-0">
               <a class="dropdown-item" href="/items/add">Add item</a>
            </div>
         </li>
      </ul>
   </div>

   <div class="" id="navbarNavDropdown">
      <ul class="navbar-nav">

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="true">
               Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <% if (user) { %>
               <a class="dropdown-item" href="/dashboards">dashboard</a>
               <hr class="hr-text p-0 m-0">
               <a class="dropdown-item" href="/logout">logout</a>
               <% } else { %>
               <a class="dropdown-item" href="/users/login">login</a>
               <hr class="hr-text p-0 m-0">
               <a class="dropdown-item" href="/users/register">register</a>
               <% } %>
            </div>
         </li>
      </ul>
   </div>
   <a href="#" class="pull-right ml-2"><i class="fa fa-heart" aria-hidden="true"></i></a>


   <a href="#" class="pull-right ml-2"><i class="fa fa-shopping-basket  " aria-hidden="true"></i></a>


</nav>
<hr class="hr-text m-0 p-0 small" data-content="">