<% include ../../partials/html-header %>
<div class="container-flex">

   <div class="bg-dark text-white py-5">
      <div class="container py-5" style="height: 700px;">
         <div class="row">
            <div class="col-md-2 text-center">
               <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: <br>You Naughty Boy</p>
            </div>
            <div class="col-md-10">
               <h3 class="text-capitalize">i solemnly swear i'm upto no good...</h3>
               <p>Sorry, your access is refused due to security reasons of our server and also our sensitive
                  data.<br />Please go back to the previous page to continue browsing.</p>
               <a class="btn btn-danger" href="/">Go Back</a>
            </div>
         </div>
      </div>
      <div id="footer" class="text-center">
         2019, IoT Cyber Security
      </div>
   </div>

</div>
<%- include ../../partials/html-footer %>